<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>me.stevegattuso.stonks</string>

        <key>ProgramArguments</key>
        <array>
            <string>*SCRIPT_PATH*</string>
        </array>

        <key>StandardOutPath</key>
        <string>/tmp/stonks.log</string>
        <key>StandardErrorPath</key>
        <string>/tmp/stonks.error.log</string>

        <key>KeepAlive</key>
        <true/>
    </dict>
</plist>
